
// Footer
@media screen and (max-width: 360px){
    .tel .mail .social {
        
        font-size: 10px;
    }
    .line{
        background-color: $color7;
      }

}

@media (max-width: 1366px){
    .column{
        max-height: 416px;
    }
    .text-about{
        padding: 100px;
    }
    .icon-wrapper{
        margin-bottom: 15px;
    }
    .tabcontent{
        max-height: 360px;
    }
    .tours{
        padding: 0 0 10px 45px;
    }
    .side-nav{
        height: 469px;
    }
    .side-nav h2{
        padding-bottom: 30px;
    }
    .side-nav li{
        padding-bottom: 30px;
    }
    .form-group2{
        padding-bottom: 30px;
        .first{
            padding-top: 30px;
        }
    }
    
    .order-tour{
        max-height: 469px;
    }
    .class{
        height: 80px;
    }
    .class3{
        padding-bottom: 10px;
    }
    .class4{
        margin-bottom: 34px;
    }
    .fillin{
        padding-top: 12px;
    }
    .order-class2{
        margin-bottom: 0;
    }
    .order-class4{
        margin-bottom: 30px;
    }
    // slider
    // .first{
    //     padding-bottom: 25px;
    // }

}