@font-face {
    font-family: 'Typewriter';
    src: url('../starter/Typewriter.woff2') format('woff2'),
        url('../starter/Typewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

