$font01: CarlMarx;
$font2: Typewriter;
$font3: Roboto Condensed;

// main colors

$color1: #d96f25;
$color2: #116533;
$color3: #242422; 
$color4: #bfbfbf;
$color5: #f4f4f4;
$color6: #2b3a38;
$color7: #2b5a46;
$color8: #444444;
$color9: #d1e5e1;
