/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

* {
  box-sizing: border-box; }

input {
  outline: none;
  border: 0; }

@font-face {
  font-family: 'Typewriter';
  src: url("../starter/Typewriter.woff2") format("woff2"), url("../starter/Typewriter.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Condensed';
  src: url("RobotoCondensed-Regular.woff2") format("woff2"), url("RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body, html {
  height: 100%; }

.background-img {
  background-image: url(../img/bgimage1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  height: 100%;
  background-size: cover; }

.header {
  width: 1280px; }

.container {
  padding-top: 25px; }

.burgermenu {
  display: inline-block;
  cursor: pointer;
  padding-left: 10px; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  border-radius: 18%;
  background-color: #d96f25;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.logo {
  width: 110px;
  height: 110px; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 24px;
  border: none;
  outline: none;
  color: #116533;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  background-color: inherit;
  margin: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 30px;
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: #116533;
  font-size: 22px;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  color: #d96f25; }

.show {
  display: block; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .footer .line {
    background-color: #d96f25;
    height: 2px; }

.bg {
  color: #242422;
  background: rgba(36, 36, 34, 0.7);
  height: 64px; }

.wrapper {
  padding-top: 24px; }
  .wrapper .tel {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .mail {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .social {
    color: #bfbfbf;
    font-size: 20px; }
  .wrapper .social:hover {
    color: #fff; }
  .wrapper .social-li {
    margin: 0 12px;
    vertical-align: top; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bfbfbf;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 54px;
  text-align: center; }
  .sidenav .sidenav:after {
    content: "";
    display: table;
    clear: both; }

.sidenav a:hover {
  color: #f1f1f1; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.top-bar h2 {
  color: #bfbfbf;
  font-family: CarlMarx;
  font-size: 40px;
  letter-spacing: 25px;
  padding-top: 6px;
  display: inline-block; }

.closebtn {
  font-size: 50px;
  color: #d96f25;
  transition: 0.3s;
  float: left; }

.grey-bg {
  background-color: #2b5a46;
  height: 54px;
  width: 100%; }

.total-wrapper {
  width: 1280px;
  height: 80%;
  margin-top: 25px; }

.wrapper-z {
  margin-right: 245px;
  height: 80%; }

.wrapper-z a {
  padding-bottom: 55px;
  text-decoration: none;
  font-size: 30px;
  font-family: CarlMarx;
  color: #116533;
  display: block;
  transition: 0.3s;
  text-align: left;
  word-spacing: 10px; }

.v-line {
  height: 80%;
  width: 2px;
  background-color: #d96f25; }

h4 {
  color: #116533;
  font-family: CarlMarx;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 10px;
  padding-bottom: 20px;
  text-transform: uppercase; }

.filter-box {
  height: 80%; }

.form {
  display: flex;
  flex-direction: column; }

.form-group {
  display: inline-block;
  flex-direction: column;
  padding-top: 44px;
  margin-left: 140px; }

.form .first {
  padding-top: 0; }

.input {
  width: 200px;
  background-color: transparent;
  border: 1px solid #d96f25;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  font-size: 14px; }

.labels {
  display: inline-block;
  vertical-align: middle; }

.label {
  padding-top: 60px;
  text-decoration: none;
  font-size: 30px;
  font-family: CarlMarx;
  color: #116533;
  display: block;
  transition: 0.3s;
  text-align: left;
  word-spacing: 10px; }

.labels .first {
  padding-top: 0; }

.filters {
  display: inline-block;
  vertical-align: middle; }

.button-bg {
  margin-top: 25px; }

.filter-button {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: CarlMarx;
  color: #d96f25;
  cursor: pointer;
  outline: none;
  letter-spacing: 3px;
  border: 1px solid #d96f25;
  transition-duration: 0.4s; }

.filter-button:hover {
  background-color: #d96f25;
  color: #bfbfbf;
  border: 1px solid #d96f25;
  transition-duration: 0.3s; }

.header, .wrapper, .top-bar, .total-wrapper, .wrapper2, .galerry, .general-galerry, .second-header, .main-content {
  max-width: 1280px;
  width: 100%;
  margin: auto; }

.header, .wrapper, .wrapper .social-ul, .total-wrapper, .wrapper2, .nav-ul, .second-header, .tour-tabs, .class, .class2, .class3, .class4, .order-class, .order-class2, .order-class3, .order-class4 {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body, html {
  height: 100%; }

.background-img {
  background-image: url(../img/bgimage1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  height: 100%;
  background-size: cover; }

.white-bg {
  background-color: rgba(191, 191, 191, 0.5);
  width: 100%;
  height: 100%;
  position: relative; }
  .white-bg .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: #d96f25;
    border-width: 2px;
    position: absolute;
    top: 3%;
    left: 48%; }

.container2 {
  padding-top: 54px; }

.wrapper2 {
  width: 1280px; }

.burgermenu {
  display: inline-block;
  cursor: pointer; }
  .burgermenu .bar1, .burgermenu .bar2, .burgermenu .bar3 {
    width: 35px;
    height: 4px;
    border-radius: 18%;
    background-color: #d96f25;
    margin: 6px 0;
    transition: 0.4s; }
  .burgermenu .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px); }
  .burgermenu .change .bar2 {
    opacity: 0; }
  .burgermenu .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

.nav-ul {
  position: relative; }
  .nav-ul .nav-li {
    margin-right: 44px;
    color: #116533;
    font-family: CarlMarx;
    font-size: 25px;
    text-transform: uppercase; }
  .nav-ul .nav-li:last-child {
    margin-right: 0; }

.active {
  color: #d96f25; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 24px;
  border: none;
  outline: none;
  color: #116533;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  background-color: inherit;
  margin: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 30px;
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: #116533;
  font-size: 22px;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  color: #d96f25; }

.show {
  display: block; }

.text-about {
  font-family: CarlMarx;
  font-size: 31px;
  color: #2b5a46;
  text-align: center;
  text-indent: 20px;
  line-height: 40px;
  word-spacing: 4px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 250px 0; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .footer .line {
    background-color: #d96f25;
    height: 2px; }

.bg {
  color: #242422;
  background: rgba(36, 36, 34, 0.7);
  height: 64px; }

.wrapper {
  padding-top: 24px; }
  .wrapper .tel {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .mail {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .social {
    color: #bfbfbf;
    font-size: 20px; }
  .wrapper .social:hover {
    color: #fff; }
  .wrapper .social-li {
    margin: 0 12px;
    vertical-align: top; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bfbfbf;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 54px;
  text-align: center; }
  .sidenav .sidenav:after {
    content: "";
    display: table;
    clear: both; }

.sidenav a:hover {
  color: #f1f1f1; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.top-bar h2 {
  color: #bfbfbf;
  font-family: CarlMarx;
  font-size: 40px;
  letter-spacing: 25px;
  padding-top: 6px;
  display: inline-block; }

.closebtn {
  font-size: 50px;
  color: #d96f25;
  transition: 0.3s;
  float: left; }

.grey-bg {
  background-color: #2b5a46;
  height: 54px;
  width: 100%; }

.total-wrapper {
  width: 1280px;
  height: 80%;
  margin-top: 25px; }

.wrapper-z {
  margin-right: 245px;
  height: 80%; }

.wrapper-z a {
  padding-bottom: 55px;
  text-decoration: none;
  font-size: 30px;
  font-family: CarlMarx;
  color: #116533;
  display: block;
  transition: 0.3s;
  text-align: left;
  word-spacing: 10px; }

.v-line {
  height: 80%;
  width: 2px;
  background-color: #d96f25; }

h4 {
  color: #116533;
  font-family: CarlMarx;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 10px;
  padding-bottom: 20px;
  text-transform: uppercase; }

.filter-box {
  height: 80%; }

.form {
  display: flex;
  flex-direction: column; }

.form-group {
  display: inline-block;
  flex-direction: column;
  padding-top: 44px;
  margin-left: 140px; }

.form .first {
  padding-top: 0; }

.input {
  width: 200px;
  background-color: transparent;
  border: 1px solid #d96f25;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  font-size: 14px; }

.labels {
  display: inline-block;
  vertical-align: middle; }

.label {
  padding-top: 60px;
  text-decoration: none;
  font-size: 30px;
  font-family: CarlMarx;
  color: #116533;
  display: block;
  transition: 0.3s;
  text-align: left;
  word-spacing: 10px; }

.labels .first {
  padding-top: 0; }

.filters {
  display: inline-block;
  vertical-align: middle; }

.button-bg {
  margin-top: 25px; }

.filter-button {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: CarlMarx;
  color: #d96f25;
  cursor: pointer;
  outline: none;
  letter-spacing: 3px;
  border: 1px solid #d96f25;
  transition-duration: 0.4s; }

.filter-button:hover {
  background-color: #d96f25;
  color: #bfbfbf;
  border: 1px solid #d96f25;
  transition-duration: 0.3s; }

body, html {
  height: 100%; }

.background-img {
  background-image: url(../img/bgimage1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  height: 100%;
  background-size: cover; }

.white-bg {
  background-color: rgba(191, 191, 191, 0.5);
  width: 100%;
  height: 100%;
  position: relative; }
  .white-bg .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: #d96f25;
    border-width: 2px;
    position: absolute sticky;
    top: 3%;
    left: 48%; }

.container2 {
  padding-top: 54px; }

.wrapper2 {
  width: 1280px; }

.burgermenu {
  display: inline-block;
  cursor: pointer; }
  .burgermenu .bar1, .burgermenu .bar2, .burgermenu .bar3 {
    width: 35px;
    height: 4px;
    border-radius: 18%;
    background-color: #d96f25;
    margin: 6px 0;
    transition: 0.4s; }
  .burgermenu .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px); }
  .burgermenu .change .bar2 {
    opacity: 0; }
  .burgermenu .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

.nav-ul {
  position: relative; }
  .nav-ul .nav-li {
    margin-right: 44px;
    color: #116533;
    font-family: CarlMarx;
    font-size: 25px;
    text-transform: uppercase; }
  .nav-ul .nav-li:last-child {
    margin-right: 0; }

.active {
  color: #d96f25; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 24px;
  border: none;
  outline: none;
  color: #116533;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  background-color: inherit;
  margin: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 30px;
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: #116533;
  font-size: 22px;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  color: #d96f25; }

.show {
  display: block; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .footer .line {
    background-color: #d96f25;
    height: 2px; }

.bg {
  color: #242422;
  background: rgba(36, 36, 34, 0.7);
  height: 64px; }

.wrapper {
  padding-top: 24px; }
  .wrapper .tel {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .mail {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .social {
    color: #bfbfbf;
    font-size: 20px; }
  .wrapper .social:hover {
    color: #fff; }
  .wrapper .social-li {
    margin: 0 12px;
    vertical-align: top; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bfbfbf;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 54px;
  text-align: center; }
  .sidenav .sidenav:after {
    content: "";
    display: table;
    clear: both; }

.sidenav a:hover {
  color: #f1f1f1; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.top-bar h2 {
  color: #bfbfbf;
  font-family: CarlMarx;
  font-size: 40px;
  letter-spacing: 25px;
  padding-top: 6px;
  display: inline-block; }

.closebtn {
  font-size: 50px;
  color: #d96f25;
  transition: 0.3s;
  float: left; }

.grey-bg {
  background-color: #2b5a46;
  height: 54px;
  width: 100%; }

.total-wrapper {
  width: 1280px;
  height: 80%;
  margin-top: 25px; }

.wrapper-z {
  margin-right: 245px;
  height: 80%; }

.wrapper-z a {
  padding-bottom: 55px;
  text-decoration: none;
  font-size: 30px;
  font-family: CarlMarx;
  color: #116533;
  display: block;
  transition: 0.3s;
  text-align: left;
  word-spacing: 10px; }

.v-line {
  height: 80%;
  width: 2px;
  background-color: #d96f25; }

h4 {
  color: #116533;
  font-family: CarlMarx;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 10px;
  padding-bottom: 20px;
  text-transform: uppercase; }

.filter-box {
  height: 80%; }

.form {
  display: flex;
  flex-direction: column; }

.form-group {
  display: inline-block;
  flex-direction: column;
  padding-top: 44px;
  margin-left: 140px; }

.form .first {
  padding-top: 0; }

.input {
  width: 200px;
  background-color: transparent;
  border: 1px solid #d96f25;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  font-size: 14px; }

.labels {
  display: inline-block;
  vertical-align: middle; }

.label {
  padding-top: 60px;
  text-decoration: none;
  font-size: 30px;
  font-family: CarlMarx;
  color: #116533;
  display: block;
  transition: 0.3s;
  text-align: left;
  word-spacing: 10px; }

.labels .first {
  padding-top: 0; }

.filters {
  display: inline-block;
  vertical-align: middle; }

.button-bg {
  margin-top: 25px; }

.filter-button {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: CarlMarx;
  color: #d96f25;
  cursor: pointer;
  outline: none;
  letter-spacing: 3px;
  border: 1px solid #d96f25;
  transition-duration: 0.4s; }

.filter-button:hover {
  background-color: #d96f25;
  color: #bfbfbf;
  border: 1px solid #d96f25;
  transition-duration: 0.3s; }

.general-galerry {
  margin-top: 50px; }

.icon-wrapper {
  text-align: center;
  justify-content: center;
  margin-bottom: 50px; }

.tablink {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 14px;
  padding-right: 95px;
  padding-left: 0;
  padding-bottom: 0; }

.tablink:last-child {
  padding-right: 0; }

.tabcontent {
  display: none;
  width: 100%;
  height: 100%;
  max-height: 620px;
  overflow: auto; }

.icon {
  width: 30px; }

.gallery {
  margin-left: 20px;
  margin-bottom: 10px;
  border: 1px solid #bfbfbf;
  display: inline-block;
  width: 600px;
  height: 400px; }

.gallery:hover {
  border: 1px solid #777; }

.gallery img {
  width: 100%; }

.video {
  width: 570px;
  height: 320px;
  display: inline-block;
  margin: 10px; }

.video iframe {
  width: 100%;
  height: 100%; }

::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d96f25;
  border-radius: 10px; }

body, html {
  height: 100%; }

.background-img2 {
  background-image: url(../img/bgimage2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  height: 100%;
  background-size: cover; }

.white-bg2 {
  width: 100%;
  height: 100%;
  position: relative; }
  .white-bg2 .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: #d96f25;
    border-width: 2px;
    position: absolute;
    top: 3%;
    left: 48%; }

.container2 {
  padding-top: 54px; }

.wrapper2 {
  width: 1280px; }

.burgermenu {
  display: inline-block;
  cursor: pointer; }
  .burgermenu .bar1, .burgermenu .bar2, .burgermenu .bar3 {
    width: 35px;
    height: 4px;
    border-radius: 18%;
    background-color: #d96f25;
    margin: 6px 0;
    transition: 0.4s; }
  .burgermenu .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px); }
  .burgermenu .change .bar2 {
    opacity: 0; }
  .burgermenu .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }

.nav-ul {
  position: relative; }
  .nav-ul .nav-li {
    margin-right: 44px;
    color: #116533;
    font-family: CarlMarx;
    font-size: 25px;
    text-transform: uppercase; }
  .nav-ul .nav-li:last-child {
    margin-right: 0; }

.active {
  color: #d96f25; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 24px;
  border: none;
  outline: none;
  color: #116533;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  background-color: inherit;
  margin: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 30px;
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: #116533;
  font-size: 22px;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  color: #d96f25; }

.show {
  display: block; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .footer .line {
    background-color: #d96f25;
    height: 2px; }

.bg {
  color: #242422;
  background: rgba(36, 36, 34, 0.7);
  height: 64px; }

.wrapper {
  padding-top: 24px; }
  .wrapper .tel {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .mail {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .social {
    color: #bfbfbf;
    font-size: 20px; }
  .wrapper .social:hover {
    color: #fff; }
  .wrapper .social-li {
    margin: 0 12px;
    vertical-align: top; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bfbfbf;
  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 54px;
  text-align: center; }
  .sidenav .sidenav:after {
    content: "";
    display: table;
    clear: both; }

.sidenav a:hover {
  color: #f1f1f1; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.top-bar h2 {
  color: #bfbfbf;
  font-family: CarlMarx;
  font-size: 40px;
  letter-spacing: 25px;
  padding-top: 6px;
  display: inline-block; }

.closebtn {
  font-size: 50px;
  color: #d96f25;
  transition: 0.3s;
  float: left; }

.grey-bg {
  background-color: #2b5a46;
  height: 54px;
  width: 100%; }

.total-wrapper {
  width: 1280px;
  height: 80%;
  margin-top: 25px; }

.wrapper-z {
  margin-right: 245px;
  height: 80%; }

.wrapper-z a {
  padding-bottom: 55px;
  text-decoration: none;
  font-size: 30px;
  font-family: CarlMarx;
  color: #116533;
  display: block;
  transition: 0.3s;
  text-align: left;
  word-spacing: 10px; }

.v-line {
  height: 80%;
  width: 2px;
  background-color: #d96f25; }

h4 {
  color: #116533;
  font-family: CarlMarx;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 10px;
  padding-bottom: 20px;
  text-transform: uppercase; }

.filter-box {
  height: 80%; }

.form {
  display: flex;
  flex-direction: column; }

.form-group {
  display: inline-block;
  flex-direction: column;
  padding-top: 44px;
  margin-left: 140px; }

.form .first {
  padding-top: 0; }

.input {
  width: 200px;
  background-color: transparent;
  border: 1px solid #d96f25;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  font-size: 14px; }

.labels {
  display: inline-block;
  vertical-align: middle; }

.label {
  padding-top: 60px;
  text-decoration: none;
  font-size: 30px;
  font-family: CarlMarx;
  color: #116533;
  display: block;
  transition: 0.3s;
  text-align: left;
  word-spacing: 10px; }

.labels .first {
  padding-top: 0; }

.filters {
  display: inline-block;
  vertical-align: middle; }

.button-bg {
  margin-top: 25px; }

.filter-button {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: CarlMarx;
  color: #d96f25;
  cursor: pointer;
  outline: none;
  letter-spacing: 3px;
  border: 1px solid #d96f25;
  transition-duration: 0.4s; }

.filter-button:hover {
  background-color: #d96f25;
  color: #bfbfbf;
  border: 1px solid #d96f25;
  transition-duration: 0.3s; }

.blog-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  margin-top: 50px; }

.column {
  width: 100%;
  height: 100%;
  max-height: 710px;
  overflow: auto; }

.card {
  background-color: #bfbfbf;
  margin-bottom: 20px;
  display: inline-block;
  position: relative; }

.card h2 {
  font-family: Roboto Condensed;
  font-size: 26px;
  position: absolute;
  color: #f4f4f4;
  top: 30%;
  left: 10%;
  transform: translate(-50%, -50%); }

.card h5 {
  font-family: Roboto Condensed;
  font-size: 22px;
  position: absolute;
  color: #f4f4f4;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%); }

.card p {
  font-family: Roboto Condensed;
  font-size: 20px;
  display: inline-block;
  text-indent: 30px;
  color: #444444;
  padding: 8px; }

.blog-img1 {
  width: 100%;
  height: 200px;
  background-image: url(../img/sighnaghi-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.blog-img2 {
  width: 100%;
  height: 200px;
  background-image: url(../img/kutaisi-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.blog-img3 {
  width: 100%;
  height: 200px;
  background-image: url(../img/telavi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }

::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d96f25;
  border-radius: 10px; }

body, html {
  height: 100%; }

.header-content {
  background-color: #2b3a38;
  height: 90px;
  padding: 5px; }

.second-header {
  font-size: 40px;
  font-family: CarlMarx;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #f4f4f4; }

.logo-button {
  height: 80px;
  width: 80px; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 24px;
  border: none;
  outline: none;
  color: #116533;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  background-color: inherit;
  margin: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 30px;
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: #116533;
  font-size: 22px;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  color: #d96f25; }

.show {
  display: block; }

.main-content {
  font-family: CarlMarx; }

.side-nav {
  float: left;
  width: 10%;
  height: 782px;
  background: #d1e5e1;
  padding: 20px; }

.side-nav h2 {
  font-size: 24px;
  color: #2b5a46;
  padding-bottom: 80px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  line-height: 26px; }

.side-nav li {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 26px;
  padding-bottom: 55px;
  color: #116533;
  text-align: center; }

.side-nav li:hover {
  color: #f4f4f4; }

.side-filter {
  float: left;
  width: 10%;
  height: 782px;
  background: #d1e5e1;
  padding: 0 12px; }

.filters2 {
  display: inline-block; }

.form-group2 {
  display: inline-block;
  flex-direction: column;
  padding-bottom: 68px; }

.first2 {
  padding-top: 130px; }

.input2 {
  width: 100px;
  background-color: transparent;
  border: 1px solid #d96f25;
  border-radius: 10px;
  padding: 10px 4px;
  color: #2b5a46;
  font-size: 14px; }

.button-bg2 {
  margin-top: 44px; }

.filter-button2 {
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-family: CarlMarx;
  color: #d96f25;
  cursor: pointer;
  outline: none;
  letter-spacing: 2px;
  border: 1px solid #d96f25;
  transition-duration: 0.4s; }

.filter-button2:hover {
  background-color: #d96f25;
  color: #bfbfbf;
  border: 1px solid #d96f25;
  transition-duration: 0.3s; }

.tours-content {
  float: left;
  width: 80%;
  padding: 20px 0;
  background-color: #f1f1f1;
  align-items: center;
  height: 782px;
  overflow: auto; }

.main-content:after {
  content: "";
  display: table;
  clear: both; }

::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d96f25;
  border-radius: 10px; }

.tours {
  float: left;
  position: relative;
  color: #f4f4f4;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 15px 0 0 48px; }

.tours a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.footer2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .footer2 .line {
    background-color: #d96f25;
    height: 2px; }

.bg2 {
  background-color: #2b3a38;
  height: 64px; }

.wrapper {
  padding-top: 24px; }
  .wrapper .tel {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .mail {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .social {
    color: #bfbfbf;
    font-size: 20px; }
  .wrapper .social:hover {
    color: #fff; }
  .wrapper .social-li {
    margin: 0 12px;
    vertical-align: top; }

body, html {
  height: 100%; }

.background {
  background-color: #d1e5e1; }

.header-content {
  background-color: #2b3a38;
  height: 90px;
  padding: 5px; }

.second-header {
  font-size: 40px;
  font-family: CarlMarx;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #f4f4f4; }

.logo-button {
  height: 80px;
  width: 80px; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 24px;
  border: none;
  outline: none;
  color: #116533;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  background-color: inherit;
  margin: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 30px;
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: #116533;
  font-size: 22px;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  color: #d96f25; }

.show {
  display: block; }

.main-content {
  font-family: CarlMarx;
  border: 1px solid #bfbfbf;
  border-top: none; }

.tab-line {
  width: 100%;
  height: 2px;
  display: inline-block;
  background: #d96f25;
  vertical-align: top; }

.tour-tabs {
  position: sticky;
  top: 0;
  background-color: #444444; }

.tour-description {
  float: left;
  width: 80%;
  height: 100%;
  max-height: 780px;
  overflow: auto; }

.tour-img {
  width: 100%;
  height: 420px;
  background-image: url(../img/mestia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.tour-tabs {
  overflow: hidden; }

.tour-tabs button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  font-family: CarlMarx;
  text-transform: uppercase;
  color: #bfbfbf; }

.tour-tabs button.active {
  color: #d96f25; }

.tablinks {
  padding: 12px 100px; }

.tour-tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  overflow: auto; }

.tour-tabcontent iframe {
  width: 100%;
  padding: 10px 0; }

.tour-tabcontent h3 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0;
  color: #2b5a46; }

.tour-tabcontent p {
  font-size: 20px;
  color: #444444; }

.order-tour {
  float: left;
  width: 20%;
  height: 782px; }
  .order-tour h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #2b5a46;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px; }

.filters3 {
  width: 100%; }

.class {
  height: 100px; }
  .class .adult, .class .children {
    padding: 14px; }
    .class .adult label, .class .children label {
      display: block;
      font-size: 19px;
      color: #2b5a46;
      padding-bottom: 10px; }

.class2, .class3 {
  height: 100px;
  padding: 14px; }
  .class2 label, .class3 label {
    font-size: 18px;
    color: #2b5a46; }

.class3 {
  padding-bottom: 30px; }

.class4 {
  height: 100px;
  margin-bottom: 168px;
  padding: 14px; }
  .class4 h5 {
    display: block;
    font-size: 19px;
    color: #2b5a46;
    padding-bottom: 10px; }

.input2 {
  width: 100px;
  background-color: #d1e5e1;
  border: 1px solid #d96f25;
  border-radius: 5px;
  padding: 6px 4px;
  color: #2b5a46;
  font-size: 16px;
  font-family: CarlMarx;
  outline: none; }

.order-button {
  padding: 14px;
  text-align: center; }
  .order-button .order {
    background-color: transparent;
    border-radius: 10px;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: CarlMarx;
    color: #d96f25;
    cursor: pointer;
    outline: none;
    letter-spacing: 2px;
    border: 1px solid #d96f25;
    transition-duration: 0.4s; }
  .order-button .order:hover {
    background-color: #d96f25;
    color: #bfbfbf;
    border: 1px solid #d96f25;
    transition-duration: 0.3s; }

.main-content:after {
  content: "";
  display: table;
  clear: both; }

::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d96f25;
  border-radius: 10px; }

.footer2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .footer2 .line {
    background-color: #d96f25;
    height: 2px; }

.bg2 {
  background-color: #2b3a38;
  height: 64px; }

.wrapper {
  padding-top: 24px; }
  .wrapper .tel {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .mail {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .social {
    color: #bfbfbf;
    font-size: 20px; }
  .wrapper .social:hover {
    color: #fff; }
  .wrapper .social-li {
    margin: 0 12px;
    vertical-align: top; }

body, html {
  height: 100%; }

.background {
  background-color: #d1e5e1; }

.header-content {
  background-color: #2b3a38;
  height: 90px;
  padding: 5px; }

.second-header {
  font-size: 40px;
  font-family: CarlMarx;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: #f4f4f4; }

.logo-button {
  height: 80px;
  width: 80px; }

.dropdown {
  float: left;
  overflow: hidden; }

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 24px;
  border: none;
  outline: none;
  color: #116533;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  background-color: inherit;
  margin: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 30px;
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: #116533;
  font-size: 22px;
  font-family: CarlMarx;
  padding: 10px 10px 0 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  color: #d96f25; }

.show {
  display: block; }

.main-content {
  font-family: CarlMarx;
  border: 1px solid #bfbfbf;
  border-top: none; }

.order-page {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 26px; }

.fillin-order {
  float: left;
  width: 60%;
  height: 782px; }
  .fillin-order .fillin {
    padding-top: 30px; }
  .fillin-order .fillin-first {
    padding-top: 60px; }

.message {
  height: 150px;
  outline: none; }

.order-input {
  width: 420px;
  background-color: transparent;
  border: 1px solid #d96f25;
  border-radius: 5px;
  padding: 10px 10px;
  color: #2b5a46;
  font-size: 20px;
  text-transform: capitalize;
  font-family: CarlMarx; }

::placeholder {
  color: #2b5a46; }

.order-tour2 {
  float: left;
  width: 40%;
  height: 782px; }

.filters3 {
  width: 100%; }

.order-class {
  height: 100px;
  width: 454px; }
  .order-class .adult1, .order-class .children1 {
    padding: 26px 14px 0 14px; }
    .order-class .adult1 label, .order-class .children1 label {
      display: block;
      font-size: 20px;
      color: #2b5a46;
      padding-bottom: 10px; }

.adult1 input, .children1 input {
  width: 200px;
  background-color: transparent;
  border: 1px solid #d96f25;
  border-radius: 5px;
  padding: 10px 10px;
  color: #2b5a46;
  font-size: 20px;
  text-transform: capitalize;
  font-family: CarlMarx; }

.order-class2, .order-class3 {
  height: 100px;
  width: 454px;
  padding: 0 14px;
  margin-bottom: 26px; }
  .order-class2 label, .order-class3 label {
    font-size: 20px;
    color: #2b5a46; }

.options {
  width: 200px;
  background-color: #d1e5e1;
  border: 1px solid #d96f25;
  border-radius: 5px;
  padding: 10px 10px;
  color: #2b5a46;
  font-size: 18px;
  text-transform: capitalize;
  font-family: CarlMarx;
  outline: none; }

.order-class3 {
  padding-bottom: 20px; }

.order-class4 {
  height: 90px;
  width: 454px;
  margin-bottom: 168px;
  padding: 0 14px; }
  .order-class4 h5 {
    display: block;
    font-size: 20px;
    color: #2b5a46;
    padding-bottom: 10px; }

.order-button2 {
  padding: 0 14px;
  text-align: center; }
  .order-button2 .order2 {
    background-color: transparent;
    border-radius: 5px;
    padding: 4px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-family: CarlMarx;
    color: #2b5a46;
    cursor: pointer;
    outline: none;
    letter-spacing: 3px;
    border: 1px solid #d96f25;
    transition-duration: 0.4s; }
  .order-button2 .order2:hover {
    background-color: #d96f25;
    color: #bfbfbf;
    border: 1px solid #d96f25;
    transition-duration: 0.3s; }

.main-content:after {
  content: "";
  display: table;
  clear: both; }

::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d96f25;
  border-radius: 10px; }

.footer2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .footer2 .line {
    background-color: #d96f25;
    height: 2px; }

.bg2 {
  background-color: #2b3a38;
  height: 64px; }

.wrapper {
  padding-top: 24px; }
  .wrapper .tel {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .mail {
    color: #bfbfbf;
    font-family: CarlMarx;
    font-size: 20px;
    display: inline-block; }
  .wrapper .social {
    color: #bfbfbf;
    font-size: 20px; }
  .wrapper .social:hover {
    color: #fff; }
  .wrapper .social-li {
    margin: 0 12px;
    vertical-align: top; }

@media (max-width: 1366px) {
  .logo {
    width: 100px;
    height: 100px; }
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px; }
  .dropdown-content a {
    font-size: 20px;
    padding: 8px 8px 0 16px; }
  .white-bg .circle {
    left: 47.3%; }
  .bg {
    height: 58px; }
  .wrapper {
    padding-top: 18px; }
  .text-about {
    padding: 100px; }
  .icon-wrapper {
    margin-bottom: 15px; }
  .tabcontent {
    max-height: 366px; }
  .column {
    max-height: 422px; }
  .tours {
    padding: 0 0 10px 45px; }
  .side-nav {
    height: 475px; }
  .side-nav h2 {
    padding-bottom: 30px; }
  .side-nav li {
    padding-bottom: 30px; }
  .side-filter {
    height: 475px; }
  .form-group2 {
    padding-bottom: 30px; }
  .first2 {
    padding-top: 30px; }
  .button-bg2 {
    margin-top: 24px; }
  .tours-content {
    height: 475px; }
  .order-tour {
    height: 475px; }
  .class {
    height: 80px; }
  .class2 {
    padding-top: 0;
    height: 60px;
    padding-bottom: 0; }
  .class3 {
    height: 60px;
    padding-top: 0;
    padding-bottom: 4px; }
  .class4 {
    padding-top: 0;
    margin-bottom: 10px; }
  .tour-description {
    height: 475px; }
  .fillin {
    padding-top: 12px; }
  .order-class2 {
    margin-bottom: 0; }
  .order-class2 {
    height: 80px; }
  .order-class3 {
    padding-bottom: 0;
    height: 60px; }
  .order-class4 {
    margin-bottom: 30px; }
  .order-page {
    padding: 0px; }
  .fillin-order {
    height: 475px; }
    .fillin-order .fillin {
      padding-top: 20px; }
    .fillin-order .fillin-first {
      padding-top: 40px; }
  .order-tour2 {
    height: 475px; }
  .order-class2 {
    margin-bottom: 0; }
  .order-class4 {
    margin-bottom: 30px; }
  .total-wrapper {
    margin-top: 0; }
  .wrapper-z a {
    padding-bottom: 38px;
    font-size: 24px; }
  h4 {
    font-size: 26px; }
  .label {
    padding-top: 32px;
    font-size: 24px; }
  .form-group {
    padding-top: 20px;
    margin-left: 90px; }
  .input {
    padding: 10px;
    width: 160px; }
  .button-bg {
    margin-top: 22px; }
  .filter-button {
    padding: 6px 30px; } }
